span.badge.easy {
    font-weight: 300;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
}

span.badge.medium {
    font-weight: 300;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #fff;
    background-color: #ffa726;
    border-radius: 2px;
}

span.badge.hard {
    font-weight: 300;
    font-size: 0.8rem;
    text-transform: capitalize;
    color: #fff;
    background-color: #ef5350;
    border-radius: 2px;
}

.collaspsible-body-title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.prefix-check {
    margin-top: 0.58rem;
}

.input-field input[type='checkbox']+label {
    pointer-events: auto;
}