<div class="error_404">
        <h1> 500 - Page not found</h1>

        <p> Sorry, you have accessed a page that does not exist or was moved </p>
        <p> <a href="/index"> Go To Index </a> </p>
</div>
~
